n8n/create-module-workflow.json
{
  "name": "Create Module",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-module",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "create-module-webhook"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "modules",
          "mode": "list",
          "cachedResultName": "modules"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json[\"title\"] }}",
            "description": "={{ $json[\"description\"] }}",
            "teacher_id": "={{ $json[\"teacherId\"] }}",
            "teacher_name": "={{ $json[\"teacherName\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "teacher_id",
              "displayName": "teacher_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "teacher_name",
              "displayName": "teacher_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "postgres-insert",
      "name": "Insert Module",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "SchoolDB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Module created successfully\",\n  \"moduleId\": \"{{ $json.id }}\",\n  \"title\": \"{{ $json.title }}\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Failed to create module. Please try again.\",\n  \"error\": \"={{ $node['Insert Module'].json['error'] || $node['Insert Module'].json['message'] || $json['error'] || $json['message'] || $json['detail'] || JSON.stringify($json) }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert Module",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Module": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "school-platform"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
