n8n/student-tasks-existing-schema.json
{
  "name": "Student Tasks API - Existing Schema",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-student-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-tasks",
      "name": "Webhook - Get Tasks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "get-student-tasks"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Combine exams and exercises into unified task list for a student\nWITH all_tasks AS (\n  -- Get exams\n  SELECT \n    e.id,\n    e.title,\n    e.description,\n    'exam' as \"taskType\",\n    e.module_id as \"moduleId\",\n    m.title as \"moduleName\",\n    e.teacher_id::text as \"assignedBy\",\n    COALESCE(u.prenom || ' ' || u.nom, 'Unknown Teacher') as \"assignedByName\",\n    e.exam_date as \"dueDate\",\n    ARRAY[]::text[] as resources,\n    'pending' as status\n  FROM exams e\n  LEFT JOIN modules m ON e.module_id = m.id\n  LEFT JOIN users u ON e.teacher_id = u.id\n  \n  UNION ALL\n  \n  -- Get exercises\n  SELECT \n    ex.id,\n    ex.title,\n    ex.description,\n    'exercise' as \"taskType\",\n    ex.module_id as \"moduleId\",\n    m.title as \"moduleName\",\n    ex.teacher_id::text as \"assignedBy\",\n    COALESCE(u.prenom || ' ' || u.nom, 'Unknown Teacher') as \"assignedByName\",\n    ex.deadline as \"dueDate\",\n    ARRAY[ex.file_url] as resources,\n    CASE \n      WHEN sa.id IS NOT NULL THEN 'completed'\n      ELSE 'pending'\n    END as status\n  FROM exercises ex\n  LEFT JOIN modules m ON ex.module_id = m.id\n  LEFT JOIN users u ON ex.teacher_id = u.id\n  LEFT JOIN student_answer sa ON ex.id = sa.exercise_id\n  WHERE ex.is_published = true\n)\nSELECT * FROM all_tasks\nORDER BY \"dueDate\" ASC",
        "options": {}
      },
      "id": "postgres-get-tasks",
      "name": "PostgreSQL - Get Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $items('PostgreSQL - Get Tasks').map(item => item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success-get",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Failed to fetch tasks\", \"error\": \"{{ $json.error?.message || 'Unknown error' }}\" }",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error-get",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 380]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-modules",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-modules",
      "name": "Webhook - Get Modules",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 600],
      "webhookId": "get-modules"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title FROM modules ORDER BY title ASC",
        "options": {}
      },
      "id": "postgres-get-modules",
      "name": "PostgreSQL - Get Modules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 600],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $items('PostgreSQL - Get Modules').map(item => item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success-modules",
      "name": "Respond Modules Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Failed to fetch modules\" }",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error-modules",
      "name": "Respond Modules Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 660]
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "update-task-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-update-status",
      "name": "Webhook - Update Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 900],
      "webhookId": "update-task-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Insert marker in student_answer when an exercise exists; return status\nWITH ins AS (\n  INSERT INTO student_answer (exercise_id, student_id, url_pdf, score, message)\n  SELECT $1::uuid, $2::uuid, 'status-update', NULL, $3\n  WHERE EXISTS (SELECT 1 FROM exercises WHERE id = $1::uuid)\n  ON CONFLICT DO NOTHING\n  RETURNING id\n)\nSELECT json_build_object('inserted', (SELECT COUNT(*) FROM ins) > 0) as result;",
        "options": {
          "queryParams": "={{ [$json.body.taskId, $json.body.studentId || '33333333-3333-3333-3333-333333333333', $json.body.status] }}"
        }
      },
      "id": "postgres-update-status",
      "name": "PostgreSQL - Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 900],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $items('PostgreSQL - Update Status').map(item => item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success-update",
      "name": "Respond Update Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 860]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Failed to update status\" }",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error-update",
      "name": "Respond Update Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 960]
    }
  ],
  "connections": {
    "Webhook - Get Tasks": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Tasks": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Modules": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Modules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Modules": {
      "main": [
        [
          {
            "node": "Respond Modules Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Modules Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Update Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Status": {
      "main": [
        [
          {
            "node": "Respond Update Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Update Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "pinData": {}
}
